class {{ interface.Name }}(ABC):

{% set empty = True %}

{% for constructor in interface.GetConstructors() if constructor.IsPublic %}

    {{ pywrite(constructor) | indent }}

    {% set empty = False %}

{% endfor %}

{% for prop in interface.GetProperties() if prop.IsPublic %}

    {{ pywrite(prop) | indent }}

    {% set empty = False %}

{% endfor %}

{% for method in interface.GetMethods() if method.IsPublic %}

    {{ pywrite(method) | indent }}

    {% set empty = False %}

{% endfor %}

{% if empty == True %}

    ...

{% endif %}
