{% if property.CanRead and property.GetGetMethod().IsPublic%}

@property
{{ pywrite(property.GetGetMethod()) }}
{% endif %}

{% if property.CanWrite and property.GetSetMethod().IsPublic%}

@{{ property.Name }}.setter
{{ pywrite(property.GetSetMethod()) }}
{% endif %}
